{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h5 class="logo-font text-black">
                    Take time out from everyday life to learn a new craft, rekindle an old one or simply relax with friends and other like-minded people. 
                </h5>
                <div class="my-3">
                    <h4>
                        <a href="{% url 'products' %}" class="book-now-button btn btn-lg rounded-0 py-3">BOOK NOW</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
  <!-- footer -->
  <footer class="container-fluid">
    <div class="row bg-white footer-container">
        <div class="col-md-4 col-sm-12 text-center mt-3 mb-3">   
        <h6 class="footer-header text-black text-uppercase">Contact</h6> 
        </div>    
        <div class="col-md-4 col-sm-12 text-center mt-3 mb-3">
            <p class="footer-header text-black">Email</p>
            <p class="footer-text text-black">contactus@vanillamusk.com</p>
        </div>    
        <div class="col-md-4 col-sm-6 text-center mt-3 mb-3">
            <p class="footer-header text-black">Address</p>
            <p class="footer-text text-black">32-38 Leman Street, Algate, London, E1 8EW</p>
        </div> 
        <div class="col-md-4 col-sm-6 text-center mt-3 mb-3">
            <h6 class="footer-header text-black text-uppercase">Socials</h6>
            <ul class="list-inline social-links">
                <li class="list-inline-item"><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook fa-2x text-black"></i></a></li>
                <li class="list-inline-item"><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter fa-2x text-black"></i></a></li>
                <li class="list-inline-item"><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram fa-2x text-black"></i></a></li>
            </ul>
        </div>        
    </div>       
</footer>    
{% endblock %}