<form class="form update-form" method="POST" action="{% url 'adjust_basket' item.item_id %}">
    {% csrf_token %}
    <div class="form-group-buttons">
        <div class="input-group input-group-product-quantity">
            <input class="form-control qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1"
                max="99" data-item_id="{{ product.id }}" id="id_qty_{{ item.item_id }}">
        </div>
    </div>
</form>
<a class="update-link text-info"><small>Update</small></a>
<a class="remove-item float-right" id="remove_{{ item.item_id }}"><i class="far fa-trash-alt"></i></a>