<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 border-0" href="#" id="menu-links" aria-haspopup="true" aria-expanded="false">
                <a href="" class="home">home</a>
                <a href="" class="workshops">workshop</a>
                <a href="" class="products">products</a>
                <a href="" class="contact">contact</a>
            </div>
        </li>
    </ul>
</div>