<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">   
        <li class="nav-item d-block d-md-none dropdown">
            <a class="main-nav-link mr-5" href="{% url 'home' %}" id="home-links">
                Home
            </a>    
        </li>
        <li class="nav-item dropdown">
            <a class="main-nav-link mr-5" href="{% url 'products' %}?category=Workshops" id="Workshops-links">
                Workshops
            </a>    
        </li>
        <li class="nav-item dropdown">
            <a class="main-nav-link mr-5" href="{% url 'products' %}?category=Candles" id="products-links">
                Candles
            </a>    
        </li>
    </ul>
</div>