{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<!--- Blog Details --->
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row py-2">
        <div class="col-sm-10 offset-sm-1 col-md-5 offset-md-2">
            <h3 class="text-black">{{ blog.title}}</h3>
        </div>
        <div class="col-sm-10 offset-sm-1 col-md-3 offset-md-0">
            <small>{{ blog.date_added | date:"d M - Y - h:i | "}}</small>
        </div>
        {% if request.user.is_superuser %}
        <small class="ml-3">
            <a href="{% url 'edit_blog' blog.slug %}">Edit</a> |
            <a class="text-danger" href="{% url 'delete_blog' blog.slug %}">Delete</a>
        </small>
        {% endif %}
    </div>
    <div class="row mb-4 py-4">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            {{ blog.content }}
        </div>
    </div>
    <!--- Comment Section--->
    <div class="row pt-4 pb-2">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <h3 class="comment-heading text-black">Comments</h3>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            {% for comment in blog.comments.all %}
            <article class="statement-comment">
                <strong>{{ comment.name }} | {{ comment.date_added | date:"d M - Y - h:i "}}</strong><br>
                {{ comment.statement}}
            </article>
            {% endfor %}
        </div>
    </div>
    <div class="row py-2">
        <div class="ccol-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <hr class="line">
        </div>
    </div>
    <div class="row pb-4">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <h4 class="add-comment">Add Comment</h4>
        </div>
    </div>
    <div class="row pb-4">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <form method="post" action=".">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="cta-white cta-comment" value="Add comment">
            </form>
        </div>
    </div>
</div>
{% endblock %}